@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700");
        * {
            box-sizing: border-box;
        }
        body,
        html {
            font-family: "Montserrat", sans-serif;
            min-height: 100vh;
            margin: 0;
        }
        body {
            background: #f4f4f4;
            background-size: cover;
        }
        #home-container {
            display: grid;
            grid-template-columns: 10px 1fr 10px; /* for left and right sections */
            grid-template-rows: 10px 0.8fr 1.2fr 10px;
            grid-gap: 20px;
            height: 100vh;
        }

        #inner {
            grid-row: 2;
            grid-column: 2;
            align-self: center;
            justify-self: center;
        }

        #illustration {
            grid-row: 3;
            grid-column: 2;
            align-self: center;
            justify-self: center;
            width: 100%;
            padding: 10px;
        }

        .responsive {
          width: 100%;
          height: auto;
        }

        h1 {
            text-transform: uppercase;
            color: #164676;
            margin-bottom: 0.2em;
            font-size: 32px;
        }

        p.subtitle {
            font-size: 1em;
            color: #858585;
            margin: 0.3;
        }

        @media (min-width: 768px) {
            #home-container {
                grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
                grid-template-rows: 1fr;
            }
            #inner {
                grid-column: 2;
                grid-row: 1;
            }

            #illustration {
                grid-column: 3;
                grid-row: 1;
            }

            #heading {
                font-size: 100px;
            }

            p.subtitle {
                font-size: 42px;
            }
        }


        .eye {
          -webkit-animation: blink-1 0.6s 3s 1 both;
  	              animation: blink-1 0.6s 3s 1 both;
          }

          @-webkit-keyframes blink-1 {
            0%,
            50%,
            100% {
              opacity: 1;
            }
            25%,
            75% {
              opacity: 0;
            }
          }
          @keyframes blink-1 {
            0%,
            50%,
            100% {
              opacity: 1;
            }
            25%,
            75% {
              opacity: 0;
            }
          }


     #timothy {
          animation-name: sink;
          animation-duration: 6s;
          animation-delay: 3s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: ease-in;
      }

      @keyframes sink {
          from {
              transform: translate(0px, 0px);
           }
           to {
              transform: translate(0px, 400px);
           }
      }
